<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bulma css sheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Assets css sheet -->
    <link rel="stylesheet" href="./css/style.css">
      <!-- Fonts css sheet -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <!-- This adds our favicon to the webpage tab -->
    <link rel="icon" href="https://images.emojiterra.com/google/noto-emoji/v2.034/512px/1f5d3.png"/>
    <title>Tech Spot</title>
</head>
<body>
    <nav class="navbar main-nav" role="navigation" aria-label="main navigation">     
        <div class="navbar-brand">
            <a class="logo navbar-item" href="/">
            <img id="logo" src="/photos/tech_spot.png">
            </a>
        </div>
        {{#if loggedIn}}
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" id="dashboard" class="navbar-item">Dashboard</a>
                <a href="/profile" id="dashboard" class="navbar-item">Profile</a>
                <a href="/newPost" id="dashboard" class="navbar-item">New Post</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="/logout" id="logout" class="navbar-item">Logout</a>
                </div>
            </div>
        {{else}}
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="/login" class="navbar-item">Login/Sign Up</a>
                </div>
            </div>
        </div>
        {{/if}}
    </nav>
    {{{body}}}

<!--Font awesome script-->
<script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<!--This links our jquery, day.js scripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.3/dayjs.min.js"
integrity="sha256-iu/zLUB+QgISXBLCW/mcDi/rnf4m4uEDO0wauy76x7U="
crossorigin="anonymous"></script>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{else}}
<script src="/js/login.js"></script>
{{/if}}
</body>
</html>