  <div class="column is-three-quarters">
    <div class="card is-four-fifths">
      <div class="card-content">
        <div class="content">
          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input class="input" type="text" placeholder="Text input" value="{{post.id}}" />
            </div>
          </div>

          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input id="title" class="input" type="text" value="{{username}}" disabled/>
            </div>
          </div>

          <div class="field">
            <label class="label">Post Body</label>
            <div class="control">
              <textarea class="textarea" placeholder="Textarea">{{post.postContent}}</textarea>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Save</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/editPost.js"></script>